html, body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body * {
    box-sizing: border-box;
}

.weather-animated {
    width: calc(100vw - 30px);
    height: calc(100vh - 30px);
    padding: min(5vh, 3vw) 1vh;
    border: 4px solid #608094;
    border-radius: 15px;
    background: linear-gradient(15deg, #3b6982 10%, #16394c 75%);
    font-family: Roboto, Arial, sans-serif;
    font-size: min(5vh, 5vw);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2vh;
}

.weather-animated .icon {
    background: url(./weather-icons/clear-day.svg) center center no-repeat;
    background-size: contain;
    width: 100%;
    position: relative;
    flex: 1;
}

.weather-animated .icon.clear-night {
    background-image: url(./weather-icons/clear-night.svg);
}

.weather-animated .icon.cloudy {
    background-image: url(./weather-icons/cloudy.svg);
}

.weather-animated .icon.fog {
    background-image: url(./weather-icons/fog.svg);
}

.weather-animated .icon.partly-cloudy-day {
    background-image: url(./weather-icons/partly-cloudy-day.svg);
}

.weather-animated .icon.partly-cloudy-night {
    background-image: url(./weather-icons/partly-cloudy-night.svg);
}

.weather-animated .icon.rainy {
    background-image: url(./weather-icons/rainy.svg);
}

.weather-animated .icon.showers-day {
    background-image: url(./weather-icons/showers-day.svg);
}

.weather-animated .icon.showers-night {
    background-image: url(./weather-icons/showers-night.svg);
}

.weather-animated .icon.snow-showers-day {
    background-image: url(./weather-icons/snow-showers-day.svg);
}

.weather-animated .icon.snow-showers-night {
    background-image: url(./weather-icons/snow-showers-night.svg);
}

.weather-animated .icon.thunder {
    background-image: url(./weather-icons/thunder.svg);
}

.weather-animated .icon.thunder-showers-day {
    background-image: url(./weather-icons/thunder-showers-day.svg);
}

.weather-animated .icon.thunder-showers-night {
    background-image: url(./weather-icons/thunder-showers-night.svg);
}

.weather-animated .icon.wind {
    background-image: url(./weather-icons/wind.svg);
}

.weather-animated .location {
    font-size: min(6vh, 6vw);
    text-align: center;
}

.weather-animated .main {
    width: 100%;
    display: flex;
    gap: 5vw;
}

.weather-animated .main-left, .weather-animated .main-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.weather-animated .main-center {
    font-size: min(10vh, 10vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather-animated .main-right ul {
    display: flex;
    flex-direction: column;
    gap: min(2.5vh, 2.5vw);
    padding: 0;
    margin: 0;
    list-style: none;
}

.weather-animated .week {
    display: flex;
    width: 100%;
    height: max(15vw, 20vh);
    text-align: center;
}

.weather-animated .week .day {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}
